{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

        <form action="/add_cuisine" method="post">
           <label for="name">Cuisine name:</label>
           <input id="name" name="name" type="text">

           <button class="btn-success" type="submit">Add cuisine</button>
        </form>
        <div class="row">
            {% if cuisines is not empty %}
                <div class="col col-3"><strong>Cuisines:</strong><ul>
                    {% for cuisine in cuisines %}
                        <li><a href="/cuisines/{{cuisine.getId()}}">{{cuisine.getName()}}</a></li>
                    {% endfor %}
                </ul></div>
            {% endif %}

            {% if restaurants is not empty %}
                <div class="col col-6"><strong>Restaurants:</strong><ul>
                    {% for restaurant in restaurants %}
                        <li><a href="/restaurants/{{restaurant.getId()}}">{{restaurant.getName()}}</a></li>
                    {% endfor %}
                </ul></div>
            {% endif %}
        </div>
{% endblock %}
